{% extends 'base.html.twig' %} {% block body %}

<h1>{{ title }}</h1>
{% if age > 18 %}
<p>Tu es majeur!</p>
{% else %}
<p>Tu es mineur</p>
{% endif %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatibus maxime sint explicabo animi soluta, unde asperiores? Perspiciatis cumque autem ratione praesentium velit, tempora rem nobis cupiditate qui obcaecati numquam, voluptatum est dignissimos!
    Quasi aliquid sint distinctio maiores tenetur adipisci?</p>
<p>Ut totam nam accusamus aliquam! Nemo autem sint exercitationem voluptatem quo laudantium placeat, voluptates voluptate optio quia, vel illum atque! Itaque officiis molestias eaque! Numquam possimus debitis incidunt. Dolorem labore aspernatur eum quam
    minus aut iure magni soluta at dolore.</p>

{% endblock %}